.post{
    background-color: #fff;
    font-family: 'K2D';
    box-shadow: 0 2rem 4rem rgba(0,0,0,0.2);
    width: 100%;
}

.link{
    display: inline-block;
    text-decoration: none;
    color: black;
}

.info{
    padding: 2rem;
    display: flex;
    flex-direction: column;
    position: relative;
}

.likes{
    position: absolute;
    right: 4.5rem;
    top: 3.6rem;
    font-size: 1.8rem;
}

.userContainer{
    display: flex;
    align-items: center;
}

.avatar{
    width: 40px;
    border-radius: 100%;
    cursor: pointer;
}
    
.author{
    font-size: 3rem;
    letter-spacing: 2px;
    font-weight: bold;
    margin-left: 1.2rem;
    cursor: pointer;
}

.date{
    font-size: 1.4rem;
    color: #726969;
    letter-spacing: 2px;
    padding-top: .4rem;
}

.postContent{
    padding: 1rem 2rem;
    font-size: 1.8rem;
}

.postButtons{
    width: 100%;
    margin-top: 2rem;
}

.button{
    width: 50%;
    padding: 1.4rem;
    border: none;
    font-family: 'K2D';
    font-size: 1.5rem;
    cursor: pointer;
}

.button i{
    padding: .4rem;
}

.like{
    background: #94EC86;
}

@media(max-width: 400px){
    .postContent{
        font-size: 1.4rem;
        padding: .5rem 1.5rem;
    }

    .author{
        font-size: 2.4rem;
    }

    .avatar{
        width: 30px;
    }

}